<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/applicationContext.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>/WEB-INF/log4j.properties</param-value>
  </context-param>
  <context-param>
    <param-name>log4jRefreshInterval</param-name>
    <param-value>3000</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>
  <filter>
    <filter-name>jspFilter</filter-name>
    <filter-class>com.telecom.weibao.filter.JspFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>jspFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>encodeFilter</filter-name>
    <filter-class>com.telecom.weibao.filter.EncodeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encodeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>adminSourceFilter</filter-name>
    <filter-class>com.telecom.weibao.filter.AdminSourceFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>adminSourceFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>manSourceFilter</filter-name>
    <filter-class>com.telecom.weibao.filter.ManSourceFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>manSourceFilter</filter-name>
    <url-pattern>/man/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>userSourceFilter</filter-name>
    <filter-class>com.telecom.weibao.filter.UserSourceFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>userSourceFilter</filter-name>
    <url-pattern>/user/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>providerSourceFilter</filter-name>
    <filter-class>com.telecom.weibao.filter.ProviderSourceFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>providerSourceFilter</filter-name>
    <url-pattern>/provider/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>providerChgFilter</filter-name>
    <filter-class>com.telecom.weibao.filter.ProviderChgFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>providerChgFilter</filter-name>
    <url-pattern>/provider/ChgHM.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>providerChgFilter</filter-name>
    <url-pattern>/provider/DelHM.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>providerChgFilter</filter-name>
    <url-pattern>/provider/ChgSER.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>providerChgFilter</filter-name>
    <url-pattern>/provider/DelSER.do</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>providerShowFilter</filter-name>
    <filter-class>com.telecom.weibao.filter.ProviderShowFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>providerShowFilter</filter-name>
    <url-pattern>/provider/ViewHM.get</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>providerShowFilter</filter-name>
    <url-pattern>/provider/ViewSER.get</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>userChgFilter</filter-name>
    <filter-class>com.telecom.weibao.filter.UserChgFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>userChgFilter</filter-name>
    <url-pattern>/user/ReviewHM.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>userChgFilter</filter-name>
    <url-pattern>/user/FallbackHM.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>userChgFilter</filter-name>
    <url-pattern>/user/VerifyHM.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>userChgFilter</filter-name>
    <url-pattern>/user/ReviewSER.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>userChgFilter</filter-name>
    <url-pattern>/user/FallbackSER.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>userChgFilter</filter-name>
    <url-pattern>/user/VerifySER.do</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>userShowFilter</filter-name>
    <filter-class>com.telecom.weibao.filter.UserShowFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>userShowFilter</filter-name>
    <url-pattern>/user/GetHM.get</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>userShowFilter</filter-name>
    <url-pattern>/user/GetSER.get</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>tele_login.html</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>